body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(218, 218, 218);
    color: rgb(35, 51, 101);
}
header {
    background-color: rgb(60, 58, 58);
}

.versus {
    background-color: rgba(240, 40, 5, 0.975);
    color: rgb(238, 243, 243);
    margin-bottom: 1%;
}

.navi {
    background-color:rgb(54, 54, 54);
}

.link {
    color: azure;
}

.bold {
    font-weight:bolder;
    color: rgb(4, 15, 167);
}

.boldc {
    color: rgb(4, 15, 167);
}

.mainemp {
    background-color: rgb(54, 54, 54);
    color: rgb(238, 243, 243);
}

#deem {
    color: rgb(56, 104, 145);
}

.deemq {
    color: rgb(56, 104, 145);
}