body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #BEB8AF;
    color: white;
    display: grid;
    grid-template-columns: 20% 40% 40%;
    grid-template-areas: "head head head"
                         "nav nav nav"
                         "side main main"
                         "footer footer footer"
}

header {grid-area: head;}
nav {grid-area: nav;}
.aside {grid-area: side;}
main {grid-area: main;}
footer {grid-area: footer;}

header {
    background-color: #261E1D;
    height: 55px;
    display: flex;
}

header h1 {
    margin: 0;
    margin-left: 10px;
    align-content: center;
}

nav {
    background-color: #575047;
    height: 35px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

nav a {
    background-color: #575047;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    text-decoration: none;
    color: #ebe5dd;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

nav a:hover {
    background-color: #806150;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.aside {
    background-color: #423730;
}

.aside h2 {
    margin: 10px;
}

.aside figure img {
    width: 100%;
}

.aside p {
    text-align: left;
    margin: 13px;
}

.aside ul li {
    margin-right: 13px;
    text-align: left;
    margin-bottom: 5px;
}

footer {
    margin: 0px;
    height: 30px;
    display: flex;
    align-items: center;
}

footer p {
    margin: 0;
}

main {
    margin: 10px 15px;
}

main h2 {
    margin: 0px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.content article {
    width: 300px;
    margin: 10px;
    padding: 10px;
    box-shadow: 3px 3px 5px rgb(112, 110, 110);
    background-color: #575047;
}

article figcaption {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

article p {
    text-align: justify;
}

figure {
    display: flex;
    justify-content: center;
}

figure img {
    width: 100%;
}

@media ONLY screen AND (max-width: 700px) {
    body {
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #BEB8AF;
        color: white;
        display: flex;
        flex-direction: column;
    }
    
    header {
        background-color: #261E1D;
        height: auto;
        display: flex;
        justify-content: center;
        padding: 10px;
    }
    
    header h1 {
        margin: 0;
        margin-left: 10px;
        align-content: center;
        text-align: center;
        font-size: 25px;
    }
    
    nav {
        background-color: #575047;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }
    
    nav a {
        background-color: #575047;
        padding: 3px;
        width: 100%;
        display: flex;
        justify-content: center;
        height: 100%;
        align-items: center;
        text-decoration: none;
        color: #ebe5dd;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }
    
    nav a:hover {
        background-color: #806150;
        width: 100%;
        display: flex;
        justify-content: center;
        height: 100%;
        align-items: center;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }
    
    .aside {
        order: 1;
        background-color: #423730;
    }
    
    .aside h2 {
        margin: 10px;
    }
    
    .aside figure img {
        width: 100%;
    }
    
    .aside p {
        text-align: justify;
        margin: 13px;
    }
    
    .aside ul li {
        margin-right: 13px;
        text-align: justify;
        margin-bottom: 5px;
    }
    
    footer {
        order: 1
        ;
        margin: 0px;
        height: 30px;
        display: flex;
        align-items: center;
    }
    
    footer p {
        margin: 0;
    }
    
    main {
        margin: 10px 15px;
    }
    
    main h2 {
        margin: 0px;
        text-align: center;
    }
    
    .content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    
    .content article {
        width: 300px;
        margin: 10px;
        padding: 10px;
        box-shadow: 3px 3px 5px rgb(112, 110, 110);
        background-color: #575047;
    }
    
    article figcaption {
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
    article p {
        text-align: justify;
    }
    
    figure {
        display: flex;
        justify-content: center;
    }
    
    figure img {
        width: 100%;
    }
}